<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Users</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">

    <link rel="stylesheet" href="../../static/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="shortcut icon" href="../static/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        {% include 'client_sidebar.html' %}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-content">
                <div class="container pt-lg-5" style="width: 1200px;">

                    <div class="card shadow mb-4">
                        <div class="card-body">

                            <h3>My Profile</h3>

                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form action="#" enctype="multipart/form-data" method="post">



                                <div class="row pt-lg-5">

                                    <div class="col-5 offset-3 ">

                                        <div style="margin-bottom: 1rem;">

                                            <input
                                                    type="text" class="form-control form-control-lg "
                                                    name="name" value="" placeholder="Name" autocomplete="name">


                                        </div>
                                        <div style="margin-bottom: 1rem;">

                                            <input
                                                    type="text" class="form-control form-control-lg "
                                                    name="CIN" value="" placeholder="CIN" autocomplete="CIN">


                                        </div>
                                        <div style="margin-bottom: 1rem;">

                                            <input type="text"
                                                   class="form-control form-control-lg"
                                                   name="Phone number" value="" placeholder="Phone number"  autocomplete="Phone number">

                                        </div>
                                        <div style="margin-bottom: 1rem;">

                                            <input type="date"
                                                   class="form-control form-control-lg"
                                                   name="BirthDate" value="" placeholder="BirthDate"  autocomplete="BirthDate">

                                        </div>

                                        <div style="margin-bottom: 1rem;">

                                            <input type="email"
                                                   class="form-control form-control-lg"
                                                   name="email" value="" placeholder="Email"  autocomplete="email">

                                        </div>

                                        <div style="margin-bottom: 1rem;">

                                            <input
                                                    type="password" class="form-control form-control-lg "
                                                    name="password"  placeholder="Password"  autocomplete="password" >


                                        </div>

                                        <div style="margin-bottom: 1rem;">

                                            <input
                                                    type="file" class="form-control form-control-lg "
                                                    name="Image"   >


                                        </div>

                                        <div class="row pt-4">

                                            <div class="col-9 offset-3">
                                                <button type="submit" class="btn btn-primary btn-lg">Update</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>


            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; AYB @ JML</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../../static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

    <script src="../../static/vendors/apexcharts/apexcharts.js"></script>
    <script src="../../static/js/pages/dashboard.js"></script>

    <script src="../../static/js/main/main.js"></script>
</body>

</html>