<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Users</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">

    <link rel="stylesheet" href="../../static/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="shortcut icon" href="../static/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        {% include 'client_sidebar.html' %}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading">
                <h3>{{user.username}} - Overview</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon green">
                                                    <i class="iconly-boldActivity"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Bookings</h6>
                                                <h6 class="font-extrabold mb-0">{{total_bookings}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon blue">
                                                    <i class="iconly-boldTick-Square"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Spending</h6>
                                                <h6 class="font-extrabold mb-0">{{total_spending}} DH</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-xl-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Latest Bookings</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">

                                            <table class="table table-hover table-lg">
                                                <thead>
                                                <tr>
                                                    <th>Event</th>
                                                    <th>Description</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for bk in bks %}
                                                    <tr>
                                                        <td class="col-3">
                                                            <div class="d-flex align-items-center">
                                                                <div class="avatar avatar-md">
                                                                    <img src="../../static/images/faces/5.jpg">
                                                                </div>
                                                                <p class="font-bold ms-3 mb-0">{{bk.event.name}}</p>
                                                            </div>
                                                        </td>
                                                        <td class="col-auto">
                                                            <p class=" mb-0">{{bk.event.description}}</p>
                                                        </td>
                                                    </tr>
                                                    
                                                {% endfor %}
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; AYB @ JML</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="../../static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../../static/js/bootstrap.bundle.min.js"></script>

    <script src="../../static/vendors/apexcharts/apexcharts.js"></script>
    <script src="../../static/js/pages/dashboard.js"></script>

    <script src="../../static/js/main/main.js"></script>
</body>

</html>