<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">

    <link rel="stylesheet" href="../../static/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="shortcut icon" href="../static/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div id="app">
        {% include 'admin_sidebar.html' %}


<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <h3>Organizers details</h3>
    </div>

    <section class="section">
        <div class="card">
            <div class="card-header">
                Details and Management
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Organizer</th>
                            <th>Phone number</th>
                            <th>Email</th>
                            <th>Description</th>
                            <th>Event count</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for organizer in organizers %}
                        <tr>
                            <td>{{ organizer.username }}</td>
                            <td>{{ organizer.phone_number }}</td>
                            <td>{{ organizer.email }}</td>
                            <td>{{ organizer.description }}</td>
                            <td>{{ organizer.event_count }}</td>
                            <td>
                              {% if organizer.is_active %}
                                <span class="badge bg-success">Active</span>
                                {%else%}
                                <span class="badge bg-danger">Inactive</span>
                              {%endif%}
                            </td>
                            <td>
                              {% if organizer.is_active == 0 %}
                              <form method="POST" action="{% url 'validate_organizer' id=organizer.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Validate</button>
                              </form>
                              {%else%}
                              <a href="{% url 'deactivate_organizer' organizer_id=organizer.id %}" class="btn btn-danger">Deactivate</a>
                              {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

<footer>
  <div class="footer clearfix mb-0 text-muted">
      <div class="float-start">
          <p>2023 &copy; AYB @ JML</p>
      </div>
  </div>
</footer>
</div>
</div>
<script src="../../static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>

<script src="../../static/vendors/apexcharts/apexcharts.js"></script>
<script src="../../static/js/pages/dashboard.js"></script>

<script src="../../static/js/main/main.js"></script>
</body>

</html>
