{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/iconly/bold.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        {% include 'org_sidebar.html' %}
        <div id="main">
          <header class="mb-3">
              <a href="#" class="burger-btn d-block d-xl-none">
                  <i class="bi bi-justify fs-3"></i>
              </a>
          </header>

          <div class="page-heading">
              <h3></h3>
          </div>
          <div class="page-heading">
              <div class="page-title">
                  <div class="row">
                      <div class="col-12 col-md-6 order-md-1 order-last mb-5">
                          <h3>{{event.name}} - Booking details</h3>
                      </div>
                      <div class="col-12 col-md-6 order-md-2 order-first">
                          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="/Dashboard">Dashboard</a></li>
                                  <li class="breadcrumb-item"><a href="{% url 'events:manage_org' %}">Events details</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Booking details</li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
              <section class="section">
                  <div class="card">
                      <div class="card-header">
                          Details
                      </div>
                      <div class="card-body">
                        {% if bookings %}
                          <table class="table table-striped" id="table1">
                              <thead>
                                  <tr>
                                      <th>Client</th>
                                      <th>Ticket Types</th>
                                      <th>Total price</th>
                                      <th>Status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                {% for booking in bookings %}
                                  <tr>
                                    <td>{{ booking.client.username }}</td>
                                    <td>
                                      {% for ticket_booking in booking.ticketbookingtype_set.all %}
                                        {{ ticket_booking.ticket_type }}: {{ ticket_booking.quantity }} tickets<br>
                                      {% endfor %}
                                    </td>
                                    <td>{{ booking.total_price }} Dhs</td>
                                    <td>
                                      {% if booking.status == 'confirmed' %}
                                          <span class="badge bg-success">Confirmed</span>
                                      {% elif booking.status == 'cancelled' %}
                                          <span class="badge bg-danger">Cancelled</span>
                                      {% else %}
                                          <span class="badge bg-danger">Pending</span>
                                      {% endif %}
                                    </td>
                                    <td>
                                      {% if booking.status == 'pending' %}
                                      <form method="POST" action="{% url 'bookings:validate_booking' booking_id=booking.booking_id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Validate</button>
                                      </form>
                                      {% endif %}
                                    </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                        {% else %}
                          <p>No bookings found for this event.</p>
                        {% endif %}
                      </div>
                  </div>
              </section>   
          </div>
          <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2023 &copy; AYB @ JML</p>
                </div>
            </div>
          </footer>
        </div>
    </div>
    <script src="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'js/pages/dashboard.js' %}"></script>
    <script src="{% static 'js/main/main.js' %}"></script>
</body>
</html>
