<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Eventino Home Page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="../../static/images/favicon.png" rel="icon">
    <link href="../../static/images/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
    <!-- vendors CSS Files -->
    <link href="../../static/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/vendors/aos/aos.css" rel="stylesheet">
    <link href="../../static/vendors/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../static/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../../static/css/main.css" rel="stylesheet">

    <title>Multiple user login</title>
  </head>
  <body>
    {% include 'header_component.html' %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
    
    
          <div class="container">
            <div class="mb-lg-5">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Events</li>
            </ol>
          </div>
          <div style="margin-left: 230px;">
                  <form action="{% url 'search_events' %}" method="GET" >
    
                    <div class="d-inline-flex">
    
                      <div class="d-inline-grid">
                        <input type="text" name="EventName" class="form form-control-lg m-sm-4" style="width: 300px;" placeholder="Event (name, location..)" value="">
                         <select name="category" id="category" class="form form-control-lg m-sm-4" style="width: 300px;">
                          <option value="">All Categories</option>
                            {% for category in categories %}
                              <option value="{{ category.category_id }}">{{ category.name }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="d-inline-grid">
                        <div class="pl-5"><input type="date" name="Date" class="form form-control-lg m-sm-4" style="width: 300px" placeholder="Date" value=""></div>
                        <input type="text" name="Price" class="form form-control-lg m-sm-4" style="width: 300px;" placeholder="Maximum Price" value="">
    
                      </div>
                      <div class="pl-5" ><button type="submit" style="width: 150px; margin-top: 70px; margin-left: 80px;" class="btn btn-danger  ">Find</button></div>
    
                    </div>
                  </form>
          </div>
            </div>
    
          </div>
        </div><!-- End Breadcrumbs -->
    
        <section class="sample-page">
          <div class="container" data-aos="fade-up">
            <div class="container mt-5 mb-5">
              <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                  {% if events %}
                    {% for event in events %}
                    <div class="row p-2 bg-white border rounded mb-2">
                      <div class="col-md-3 mt-1">
                        <img class="img-fluid img-responsive rounded product-image" src="{{ event.image.url }}">
                      </div>
                      <div class="col-md-6 mt-1">
                        <h5>{{ event.name }}</h5>
                        <div class="d-flex flex-row mb-4"></div>
                        <div class="mt-1 mb-1 spec-1"><span>{{ event.location }}</span></div>
                        <p class="text-justify text-truncate para mb-0">{{ event.description }}</p>
                      </div>
                      <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                          <h4 class="mr-1">{{ event.standard }} MAD</h4>
                        </div>
                        <div class="d-flex flex-column mt-4">
                          <a href="{% url 'events:event_detail' event.event_id %}" class="btn btn-danger btn-sm" type="button">Details</a>
                          <button class="btn btn-outline-danger btn-sm mt-2" type="button">Add to wishlist</button>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% else %}
                    <p style='text-align: center;'>No events found.</p>
                  {% endif %}
                </div>
              </div>
                            
            </div>
          </div>
        </section>
    
      </main><!-- End #main -->
      {% include 'footer.html' %}
      <!-- Vendor JS Files -->
      <script src="../../static/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../../static/vendors/aos/aos.js"></script>
      <script src="../../static/vendors/glightbox/js/glightbox.min.js"></script>
      <script src="../../static/vendors/purecounter/purecounter_vanilla.js"></script>
      <script src="../../static/vendors/swiper/swiper-bundle.min.js"></script>
      <script src="../../static/vendors/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="../../static/js/main.js"></script>
    </body>
  </html>    