{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">

    <link rel="stylesheet" href="../../static/vendors/iconly/bold.css">

    <link rel="stylesheet" href="../../static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="shortcut icon" href="../static/images/favicon.svg" type="image/x-icon">
   
</head>
<body>
    <div id="app">
        {% include 'admin_sidebar.html' %}
        <div id="main">
          <header class="mb-3">
              <a href="#" class="burger-btn d-block d-xl-none">
                  <i class="bi bi-justify fs-3"></i>
              </a>
          </header>

          <div class="page-heading">
              <h3></h3>
          </div>
          <div class="page-heading">
              <div class="page-title">
                  <div class="row">
                      <div class="col-12 col-md-6 order-md-1 order-last mb-5">
                          <h3>Event details</h3>
                      </div>
                      <div class="col-12 col-md-6 order-md-2 order-first">
                          <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="Dashboard-admin.html">Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Events details</li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
              <section class="section">
                  <div class="card">
                      <div class="card-header">
                          Details and Management
                      </div>
                      <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                                <tr>
                                    <th>Organizer</th>
                                    <th>Event</th>
                                    <th>Categories</th>
                                    <th>Starts at</th>
                                    <th>Ends at</th>
                                    <th>Location</th>
                                    <th>Remaining tickets</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events %}
                                <tr>
                                    <td>{{ event.organizer }}</td>
                                    <td><a href="{%url 'events:event_detail' event_id=event.event_id%}">{{event.name}}</a></td>
                                    <td>
                                        {% for category in event.categories.all %}
                                            {{ category.name }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ event.start_datetime }}</td>
                                    <td>{{ event.end_datetime }}</td>
                                    <td>{{ event.location }}</td>
                                    <td>{{ event.quantity_left }}</td>
                                    <td><img src="/media/{{event.image}}" class="event-image" alt="Event Image" id="myImg" style="width: 50%; max-width: 150px; cursor:pointer;"></td>
                                    <td>
                                      {% if event.status == 'confirmed' %}
                                        <span class="badge bg-success">Active</span>
                                      {%elif event.status == 'pending'%}
                                      <span class="badge bg-danger">Pending</span>
                                      {%elif event.status == 'finished'%}
                                      <span class="badge bg-success">Finished</span>
                                      {%else%}
                                      <span class="badge bg-danger">Cancelled</span>
                                     {% endif %}
                                    </td>
                                    <td>
                                      {% if event.status == 'pending' %}
                                      <form method="POST" action="{% url 'events:validate_event' event_id=event.event_id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Validate</button>
                                      </form>
                                      {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                  </div>

              </section>
          </div>
          <footer>
              <div class="footer clearfix mb-0 text-muted">
                  <div class="float-start">
                      <p>2023 &copy; AYB @ JML</p>
                  </div>
              </div>
          </footer>
      </div>
  </div>

 <!-- The Modal -->
 <div id="myModal" class="modal-img">
    <span class="close">&times;</span>
    <img class="modal-content-img" id="img01">
    <div id="caption"></div>
  </div>
  




  <script src="../../static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="../../static/js/bootstrap.bundle.min.js"></script>
  
  <script src="../../static/vendors/apexcharts/apexcharts.js"></script>
  <script src="../../static/js/pages/dashboard.js"></script>
  
  <script src="../../static/js/main/main.js"></script>

 <script>
   // Simple Datatable
   let table1 = document.querySelector('#table1');
   let dataTable = new simpleDatatables.DataTable(table1);
 </script>

<script>
    // Get the modal
   // Get all car images with class name "car-image"
  var carImages = document.getElementsByClassName("event-image");
  
  // Get the modal element
  var modal = document.getElementById("myModal");
  var modalImg = document.getElementById("img01");
  // Get the <span> element that closes the modal
  var closeModal = document.getElementsByClassName("close")[0];
  
  // Iterate through each car image
  for (var i = 0; i < carImages.length; i++) {
    var image = carImages[i];
  
    // Set click event handler for each car image
    image.onclick = function() {
      // Get the clicked image source and alt text
      
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
      // Set the clicked image source and alt text in the modal
    };
  }
  
  // Close the modal when the close button is clicked
  closeModal.onclick = function() {
    modal.style.display = "none";
  };
  
  // Close the modal when the user clicks outside the modal content
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>

</body>

</html>